@import url("https://use.typekit.net/omy3tgb.css");

@font-face {
  font-family: 'Bon Vivant';
  font-weight: normal;
  font-style: normal;
  src: local('Bon Vivant'), local('Bon Vivant'),
      url('../fonts/bon_vivant.woff') format('woff');
}

:root{
  --body-color: #1f1f1f;
  --background-color: #f7f7f5;
  --primary-color: tomato;
  --layout-side-margins: 16px;
}

@media (min-width: 1024px) {
  :root {
    --layout-side-margins: 32px;
  }
}

html {
  font-size: 100%;
}

body {
  font-family: freight-text-pro, serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: var(--body-color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'Bon Vivant', serif;
  margin: 0;
  font-style: normal;
  font-weight: 400;
}

p {
  font-weight: 300;
  font-style: normal;
}

a {
  color: var(--body-color);
  text-decoration: none;
}

::-moz-selection {
  color: var(--background-color);
  background-color: var(--primary-color);
}
::selection {
  color: var(--background-color);
  background-color: var(--primary-color);
}
